<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>DripServer</display-name>
  <servlet>
    <description>UserServlet</description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.agjsj.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>UserServlet</description>
    <display-name>UserServlet</display-name>
    <servlet-name>DripServer</servlet-name>
    <servlet-class>com.agjsj.servlet.DripServer</servlet-class>
  </servlet>
  <servlet>
    <description>UserServlet</description>
    <display-name>UserServlet</display-name>
    <servlet-name>ResumeServlet</servlet-name>
    <servlet-class>com.agjsj.servlet.ResumeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>UserServlet</description>
    <display-name>UserServlet</display-name>
    <servlet-name>JobServlet</servlet-name>
    <servlet-class>com.agjsj.servlet.JobServlet</servlet-class>
  </servlet>
  <servlet>
    <description>UserServlet</description>
    <display-name>UserServlet</display-name>
    <servlet-name>AppointJobServlet</servlet-name>
    <servlet-class>com.agjsj.servlet.AppointJobServlet</servlet-class>
  </servlet>
  <servlet>
    <description>UserServlet</description>
    <display-name>UserServlet</display-name>
    <servlet-name>HolidayServlet</servlet-name>
    <servlet-class>com.agjsj.servlet.HolidayServlet</servlet-class>
  </servlet>
  <servlet>
    <description>UserServlet</description>
    <display-name>UserServlet</display-name>
    <servlet-name>AppointHolidayServlet</servlet-name>
    <servlet-class>com.agjsj.servlet.AppointHolidayServlet</servlet-class>
  </servlet>
  <servlet>
    <description>UserServlet</description>
    <display-name>UserServlet</display-name>
    <servlet-name>TrainServlet</servlet-name>
    <servlet-class>com.agjsj.servlet.TrainServlet</servlet-class>
  </servlet>
  <servlet>
    <description>UserServlet</description>
    <display-name>UserServlet</display-name>
    <servlet-name>AppointTrainServlet</servlet-name>
    <servlet-class>com.agjsj.servlet.AppointTrainServlet</servlet-class>
  </servlet>
  <servlet>
    <description>UserServlet</description>
    <display-name>UserServlet</display-name>
    <servlet-name>TalkServlet</servlet-name>
    <servlet-class>com.agjsj.servlet.TalkServlet</servlet-class>
  </servlet>
  <servlet>
    <description>UserServlet</description>
    <display-name>UserServlet</display-name>
    <servlet-name>PersonTuanServlet</servlet-name>
    <servlet-class>com.agjsj.servlet.PersonTuanServlet</servlet-class>
  </servlet>
  <servlet>
    <description>UserServlet</description>
    <display-name>UserServlet</display-name>
    <servlet-name>AppointTuanServlet</servlet-name>
    <servlet-class>com.agjsj.servlet.AppointTuanServlet</servlet-class>
  </servlet>
  <servlet>
    <description>UserServlet</description>
    <display-name>UserServlet</display-name>
    <servlet-name>PsginfoServlet</servlet-name>
    <servlet-class>com.agjsj.test.PsginfoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>UserServlet</description>
    <display-name>UserServlet</display-name>
    <servlet-name>CollectServlet</servlet-name>
    <servlet-class>com.agjsj.servlet.CollectServlet</servlet-class>
  </servlet>
  <servlet>
    <description>UserServlet</description>
    <display-name>UserServlet</display-name>
    <servlet-name>ReccomServlet</servlet-name>
    <servlet-class>com.agjsj.servlet.ReccomServlet</servlet-class>
  </servlet>
  <servlet>
    <description>UserServlet</description>
    <display-name>UserServlet</display-name>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>com.agjsj.servlet.ImageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>UserServlet</description>
    <display-name>UserServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.agjsj.servlet.UploadServlet</servlet-class>
  </servlet>
  <servlet>
    <description>UserServlet</description>
    <display-name>UserServlet</display-name>
    <servlet-name>MessageServlet</servlet-name>
    <servlet-class>com.agjsj.servlet.MessageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>UserServlet</description>
    <display-name>UserServlet</display-name>
    <servlet-name>SerachServlet</servlet-name>
    <servlet-class>com.agjsj.servlet.SerachServlet</servlet-class>
  </servlet>
  <servlet>
    <description>UserServlet</description>
    <display-name>UserServlet</display-name>
    <servlet-name>HolidayReplayServlet</servlet-name>
    <servlet-class>com.agjsj.servlet.HolidayReplayServlet</servlet-class>
  </servlet>
  <servlet>
    <description>UserServlet</description>
    <display-name>UserServlet</display-name>
    <servlet-name>JobReplayServlet</servlet-name>
    <servlet-class>com.agjsj.servlet.JobReplayServlet</servlet-class>
  </servlet>
  <servlet>
    <description>UserServlet</description>
    <display-name>UserServlet</display-name>
    <servlet-name>TrainReplayServlet</servlet-name>
    <servlet-class>com.agjsj.servlet.TrainReplayServlet</servlet-class>
  </servlet>
  <servlet>
    <description>UserServlet</description>
    <display-name>UserServlet</display-name>
    <servlet-name>IdentifyCodeServlet</servlet-name>
    <servlet-class>com.agjsj.servlet.IdentifyCodeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>UserServlet</description>
    <display-name>UserServlet</display-name>
    <servlet-name>ValidateServlet</servlet-name>
    <servlet-class>com.agjsj.servlet.ValidateServlet</servlet-class>
  </servlet>
  <servlet>
    <description>UserServlet</description>
    <display-name>UserServlet</display-name>
    <servlet-name>OptuanReplayServlet</servlet-name>
    <servlet-class>com.agjsj.servlet.OptuanReplayServlet</servlet-class>
  </servlet>






<listener>
	<listener-class>com.agjsj.servlet.MyServiceListener</listener-class>
</listener>











  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/servlet/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DripServer</servlet-name>
    <url-pattern>/servlet/DripServer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResumeServlet</servlet-name>
    <url-pattern>/servlet/ResumeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JobServlet</servlet-name>
    <url-pattern>/servlet/JobServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AppointJobServlet</servlet-name>
    <url-pattern>/servlet/AppointJobServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HolidayServlet</servlet-name>
    <url-pattern>/servlet/HolidayServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AppointHolidayServlet</servlet-name>
    <url-pattern>/servlet/AppointHolidayServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TrainServlet</servlet-name>
    <url-pattern>/servlet/TrainServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AppointTrainServlet</servlet-name>
    <url-pattern>/servlet/AppointTrainServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TalkServlet</servlet-name>
    <url-pattern>/servlet/TalkServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PersonTuanServlet</servlet-name>
    <url-pattern>/servlet/PersonTuanServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AppointTuanServlet</servlet-name>
    <url-pattern>/servlet/AppointTuanServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PsginfoServlet</servlet-name>
    <url-pattern>/servlet/PsginfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CollectServlet</servlet-name>
    <url-pattern>/servlet/CollectServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReccomServlet</servlet-name>
    <url-pattern>/servlet/ReccomServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/servlet/ImageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MessageServlet</servlet-name>
    <url-pattern>/servlet/MessageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SerachServlet</servlet-name>
    <url-pattern>/servlet/SerachServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HolidayReplayServlet</servlet-name>
    <url-pattern>/servlet/HolidayReplayServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JobReplayServlet</servlet-name>
    <url-pattern>/servlet/JobReplayServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TrainReplayServlet</servlet-name>
    <url-pattern>/servlet/TrainReplayServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UploadServlet</servlet-name>
  	<url-pattern>/servlet/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IdentifyCodeServlet</servlet-name>
    <url-pattern>/servlet/IdentifyCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ValidateServlet</servlet-name>
    <url-pattern>/servlet/ValidateServlet</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>OptuanReplayServlet</servlet-name>
    <url-pattern>/servlet/OptuanReplayServlet</url-pattern>
  </servlet-mapping>
  
 
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>